<%= widget_div(data: { hook: "opco-shipping-method" }) do %>
<h4>Shipping method</h4>
  <%=
    select_tag :shipping_method_id, shipping_method_options,
      { data: {
        method: :post,
        remote: true,
        url: url_for_event(:choose_shipping_method)
      }, prompt: "Select a shipping method"}
  %>
<% end %>