<%= widget_div(data: { hook: "opco-delivery-options" }) do %>
  <div data-hook="opco-delivery-method">
    <%=
      select_tag :shipping_method_id,
        options_from_collection_for_select(order.rate_hash, :id, :name),
        { data: {
          method: :post,
          remote: true,
          url: url_for_event(:choose_shipping_method)
        }}
    %>
  </div>
<% end %>
